<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>
    <div class="main-container">
        <div class="welcome-message">
            <h1>Welcome to IIT Mandi</h1>
            <p>Please choose your role to proceed:</p>
        </div>
        <div class="role-selection">
            <a href="/student/login" class="role-button student-button">Student</a>
            <a href="/admin/login" class="role-button admin-button">Admin</a>
        </div>
    </div>
</body>
</html>
